@model IEnumerable<Email_Info>
@{
    ViewData["title"] = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouta.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý Email</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <div class="container-fluid">
        <div class="col-md-14">
            <div class="card ">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Danh sách email</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        @if (ViewBag.SuccessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMsg
                            </div>
                        }
                    </div>
                    <div class="table-responsive ps">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button><a href="order_actions.php?action=pdf"> <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button></a> <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button>
                                    <div class="btn-group"><button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="example1_filter" class="dataTables_filter">
                                    <label>
                                        Tìm kiếm:
                                        <input id="myInput" type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" onkeyup="filter()">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <table class="table tablesorter table-hover" id="table-meo">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Mã Email</th>
                                    <th>Email</th>
                                    <th><a href="/Admin/Email/CreateEmail" class="btn btn-success">Thêm mới</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var a in Model)
                                {
                                    <tr>
                                        <td>@a.email_id</td>
                                        <td>@a.email</td>
                                        <td>
                                            <a href="EditEmail?Id=@a.email_id" type='button' rel='tooltip' title='' class="btn btn-primary" data-original-title='Edit User'>
                                                <div class='ripple-container'>Sửa  </div>
                                            </a>
                                            <a href="DeleteEmail?Id=@a.email_id" type='button' rel='tooltip' title='' class="btn btn-danger" data-original-title='Delete User'>
                                                <div class='ripple-container'>Xóa</div>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function filter() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-meo");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>